*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
**/__pycache__/
.env
.python-version
data-sourcing/
drivers/chromedriver
indeed-preproc
fydjob/output/
fydjob/database/
fydjob/data/big_models/
fydjob/big_models/
fydjob/discarded.py
fydjob/cache
