# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# scraping
selenium

# data science
numpy
pandas
matplotlib
scikit-learn
openpyxl

# API
fastapi
uvicorn

# utilities
joblib

# NLP
nltk
langdetect
gensim

#frontend
streamlit
altair
